{
  margin: 0;
  padding: 0;
}

.floating-button-container {
  position: justify;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
}

.floating-button {
  display: block;
  padding: 15px 25px;
  background-color: #FF5733; /* Replace with your desired color */
  color: #FFFFFF; /* Replace with the text color that complements your background color */
  font-size: 22px;
  font-weight: bold;
  text-decoration: blink;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.floating-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}